.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7eee6;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    color: white;
    background-color: blue;
    text-decoration: none;

}

a:visited{
    color: gray;
}

.project{
    height: 400px;
    width: 400px;
}

.container{
    padding: 40px 40px 40px 40px;
}