<!DOCTYPE html>
<html>
	<head>
		<title>CSS playground</title>
		<link rel="stylesheet" type="text/css" href="../CSS/main.css">
	</head>
	
	<body>
		<div class="navbar">
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="Views/CSS-playground.html">CSS</a></li>
			<li><a href="git-notes.html">Git</a></li>
			<li><a href="views/bootstrap-notes.html">Bootstrap</a></li>
		</ul>
		</div>
		

<h1>CSS Notes</h1>

	<div class="css-basics">

		<h3>Purpose of CSS</h3>

			<ul>

				<li>To give the outside of the site a unique look and feel.</li>

				<li>To alter colors, fonts, backgrounds, etc.</li>

				<li>To implement some effects and animations, although it's not as powerful as jQuery.</li>

			</ul>

	</div>

​

	<div class="css-statements">

		<h2>CSS Statements</h2>

			<p>Four main components include the following: </p>

				<ol> 

					<li><b>Declaration:</b>the statement as a whole with curly braces.</li> 

					<li><b>Selector:</b> the name of the part you want to style.</li>

					<li><b>Property:</b> properties to edit(e.g., width, height, background, etc.)</li>

					<li><b>Value:</b> numbers, colors, urls - values that we assing. </li>

				</ol>

			<p>Here's a good photo to illustrate these items:</p>

		<img src="../img/cssbasics.png" id="css-photo" >

	</div>





	</body>



















</html>