<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../CSS/main.css">
		<title></title>

	</head>

	<body>
		<div class="navbar">
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="CSS-playground.html">CSS</a></li>
			<li><a href="git-notes.html">Git</a></li>
			<li><a href="views/bootstrap-notes.html">Bootstrap</a></li>
		</ul>
		</div>


		<h1>Git Notes</h1>

		<h2>Local</h2>
			<ul>
				<li><b>Locally</b> means things are happening on just your computer.</li>
				<li>Local commits back up to a local repository and others can't access until we push t oa remote.</li>
			</ul>
			<hr>

		<h2>Remote</h2>
			<ul>
				<li><b>Remote</b> means your browser connects to an online server.</li>
				<li>Remote repositories can be accessed by fellow team members (private repo) or publicly (public repo).</li>
			</ul>
			<hr>	

		<h1>Local Setup</h1>	
			<ol>
				<li>Open your command line/terminal</li>
				<li>Use the <b>cd</b> command to navigate to ypur folder. For example, "<b>cd desktop/playground</b>"</li>
				<li>Type in <b>git init</b>. This will set up a repository (repo) for you locally.</li>

			</ol>
			<hr>






	



	</body>





</html>